body{
    color: #f8f8f8;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    margin: 0;
    padding: 0;

    background-image: url('imgs/bg0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%; 
    }

form{
    text-align: center;
}
    
h1{
    color: #f8f8f8;
    font-size: 35px;
    text-shadow: 3px 1px 0 #000;
    }

.login{
    background-color: #dc2f2f;
    margin: auto;
    padding: auto;
    
    width: 500px;
    height: 500px;
    border-color: #8b8b8b;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.inText{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
    
    margin: 5px;
}
    
div.logintooltip{
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 12px;
}
    
.loginbtn{
    margin-bottom: 30px;
}
    
.loginbtn > .btn, .btn2{
    display: inline-block;
    
    height: 32px;
    width: 95px;
    
    margin-left: 11px;
    margin-right: 11px;
}   
    
hr{
        
    margin-left: 25px;
    margin-right: 25px;
    
    border-top: 1px solid #8b8b8b;
}
    
.signin{
    padding-bottom: 35px;
    
}
    
.signin > form > .btn{
    display: inline-block;
    
    height: 32px;
    width: 135px;
    
    margin-left: 11px;
}